  #root {
    margin: 0;
    text-align: center;
  }

.app {
  width:100%;
  height: 100vh;
  margin: 0;
  align-items: center;
  padding: none;

  
}

.title {
  padding-top: 1.5rem;
}



.table-journal {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 10rem;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  text-align: center;
}

.table-journal th,
.table-journal td {
  padding: 0.5rem;
  border: 1px solid black;
}

.table-journal th {
  background-color: lightgray;
  font-weight: bold;
}

.table-head {
  text-align: left;
}

.table-head-row {
  position: fixed;
  top: 235.5px;
}

.table-head-row th {
  padding-bottom: 0.5rem;
}

.table-body-row td {
  vertical-align: middle;
  padding: 0.15rem;
}

.task-column, .task-data {
  width: 320px;
}

.date-column, .task-time {
  width: 240px;
}

.action-column, .action-data {
  width: 240px;
}

.logs-column {
  width: 304px;
}

.logs-date {
  width: 228.15px;

}

.logs-status {
  width: 105.01px;
}

.logs-action {
  width: 121.85px;
}

.log-head {
  overflow-x: hidden;
  min-width: 760px;
}

.log-row-head {
  position: absolute;
  top: 171px;
}

.log-row-body {
  min-width: 760px;
  overflow-x: hidden;
}

.button-complete {
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 1rem;
}

.button-delete {
  background-color: #f44336;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button-complete,
.button-delete {
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-complete:hover,
.button-delete:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2);
}


.log-table {
  width: 760px;
  min-width: 760px;
  overflow-x: hidden;
  margin: 0 auto;
  border-collapse: collapse;
  font-family: 'Courier New', monospace;
  font-size: 10px;
  text-align: center;
  color: white;
  background-color: #333;
}

.log-table th,
.log-table td {
  padding: 0.2rem;
  border: 1px solid black;
}

.log-table th {
  background-color: #555;
  font-weight: bold;
}

.log-row-head th {
  padding-bottom: 0.5rem;
}

.log-row-body td {
  vertical-align: middle;
  font-size: 110%;

}

.button-div {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 30px;
}

.redirect-home {
  background-color: rgb(58, 236, 236);
  border-color: rgb(58, 236, 236);
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  width: 150x;
  height: 30px;
  font-size: 110%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.button-clear { 
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgb(247, 169, 60);
  border-color: rgb(247, 169, 60);
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  width: 150x;
  height: 30px;
  font-size: 110%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.redirect-home:hover, .button-clear:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.button-redo {
  background-color: #fdd835;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.button-redo:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2);
}




td {
  overflow: hidden;
}

.create-task {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}


.input-task {
  width: 60%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  color: #333;
  background-color: lightblue;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  margin-right: 1rem;
}

.input-task:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}


.task-button {
  height: 32px;
  width: 35%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: rgb(52, 165, 99);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}


.task-button:hover {
  background-color: #00bcd4;
  color: #fff;
  transform: scale(1.1);
}

.td-logo {
  font-size: 200%;
}



.redirect-div {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: right;
}

.redirect-logs {
  width: 150px;
  height: 30px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  border-color: #00bcd4;
  background-color: lightblue;
  position: relative;
  bottom: 40px;
  right: 9px;

}

.redirect-logs:hover {
  background-color: #00bcd4;
  color: #fff;
  transform: scale(1.1);
  position: relative;
  right: 10px;
  transition: all 0.3s ease;
}

.logs-div {
  padding-top: 5rem;
}


.scrollit {
  overflow-y: auto;
  height: 417px;
}


.table-body > tr:nth-child(even) {
  background: #CCC;
  box-shadow: 0px -3px 5px  black;
}
.table-body > tr:nth-child(odd) {background: #FFF}


/* clear logs modal */

.modal-overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  display:grid;
  place-items:center;
  transition: 0.3s ease-in-out all;
  z-index:100;
}
.modal-container{
  width:40vw;
  max-width:800px;
  height:20vh;
  overflow:hidden;
  background: white;
  border-radius: 0.25rem;
}

.button-modal-delete {
  background-color: #f44336;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 80px;
}

.button-modal-delete:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.button-modal-cancel {
  background-color: #22a0bc;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 80px;
  width: 144px;
}

.button-modal-cancel:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2);
}